<!DOCTYPE html>
<html>
  <head>
    <title>FonixChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="w-full text-sm text-center bg-green-50 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <main class="bg-gray-100 h-screen">
      <%= render partial: "shared/navbar" %>
      <div class="mx-w-3xl mx-auto mt-12 sm:mx-8 md:mx-28 bg-white rounded-lg shadow">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
